@model InstaClone.Models.PhotoModel


@{
    var photoPath = "~/images/" + (Model.Photo ?? "noimage.jpg");
}
    <div>
        <img class="card-img-top userProfilePhoto" src="@photoPath" asp-append-version="true" />
    </div>
