@model InstaClone.Models.Profile.ProfileModel

@{ 
    var photoPath = "~/images/" + (Model.Image ?? "noimage.jpg");
}
<div class="card">
    <div>
        <a asp-controller="Photo" asp-action="Upload">Upload</a>
    </div>
    <div class="card-header">
        <h2>@Model.Name</h2>
    </div>
    <div class="card-body">
        <img class="card-img-top userProfilePhoto" src="@photoPath" asp-append-version="true" />
    </div>
    <div>
        @if (Model.Subscribed == null) 
        {
            <a class="myFollowing">0 Following</a>
        }
    </div>
    <div class="card-footer">

    </div>
</div>
