@model InstaClone.Models.Profile.SearchIndexModel

@if (Model.QueryString != null) 
{
    @foreach (var m in Model.QueryResult) 
    {
        <h2><a asp-controller="Search" asp-action="UserProfile" asp-route-name="@m.UserName">@m.UserName</a></h2>
    }
}

@if(Model.IsNoResult)
{
    <div>
        <h2>No Users</h2>
    </div>        
}