@model InstaClone.Models.User.RegisterModel

<h2 class="signUpText">Sign Up of a new User</h2>
<form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data" class="registerForm">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="registrLabel" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" class="registrLabel" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Photo"></label><br />
        <input asp-for="Photo" class="registrLabel" />
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="registrLabel" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="registrLabel" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    </div>

    <!--


        @section Scripts{
            <script>
                document.readyState(function () {
                    $('.custom-file-input').on("change", function () {
                        var filename = $(this).val().split("\\").pop();
                        this.next('.custom-file-label').html(filename);
                    });
                });
            </script>
        }
    -->
</form>

           
